.TopBar {
    background-color: white;
    display: flex;
}

.logoItem {
    width: 200px;
}

.logo {
    width: 40px;
    height: 40px;
    padding-right: 10px;
    margin: 10px;
}

.allUserMenu {
    display: inline-block;
    font-family: 'SDSamliphopangche_Outline';
    width: 100%;
}

.userMenu {
    float: right;
    align-items: center;
    align-content: center;
}

li {
    list-style-type: none;
}

.noneMenu {
    display: none; 
}

.dropMenu {
    display: block;
    justify-content: left;
    position: absolute;
    top: 30px;
    padding: 10px 0 30px;
}

.dropMenu2 {
    margin: 2px;
}

.dropMenu3 {
    margin: 3px;
}

span {
    margin: 10px;
}

@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}